<!DOCTYPE html>
<html dir="rtl" lang="fa">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>

    <link rel="stylesheet" href="css/all.css" type="text/css" />

    <script src="data.js"></script>
    <script src="https://unpkg.com/vue@3.2.37/dist/vue.global.prod.js"></script>
  </head>

  <body>
    <div id="page" class="container">
      <div class="row-fluid marginbottom">
        <div class="span12" style="margin-bottom: 30px;">
          <h1 class="nomargintop">{{ info.courseTitle }} ({{ info.courseNum }})</h1>
          <h4 class="nomargintop">{{ info.department }}</h4>
          <h4 class="nomargintop marginbottom">{{ info.semester }}</h4>
          <div class="row-fluid">
            <div class="span7">
              <div class="row-fluid">
                <div>
                  <h2>{{ info.professor }}</h2>
                  <blockquote class="quote">
                    <template v-if="info.virtualClass">
                      <a :href="info.virtualClass.link">{{
                        info.virtualClass.title }}</a>
                      - {{ info.virtualClass.note }}
                      <br />
                    </template>
                    <template v-if="info.inPersonClass">
                      {{ info.inPersonClass }}
                      <br />
                    </template>
                    <template v-if="info.virtualTaClass">
                      <small style="color: #000;">
                        <a :href="info.virtualTaClass.link">{{
                          info.virtualTaClass.title }}</a>
                        - {{ info.virtualTaClass.note }}
                      </small>
                    </template>
                    <template v-if="info.inPersonTaClass">
                      <small style="color: #000;">
                        {{ info.inPersonTaClass }}
                      </small>
                    </template>
                  </blockquote>
                </div>
              </div>
              <h5>سایت‌های درس:</h5>
              <blockquote class="quote">
                <template v-for="homepage in info.homepages">
                  <a :href="homepage.link">{{ homepage.title }}</a> - {{
                  homepage.note }}
                  <br />
                </template>
              </blockquote>

              <h5>مراجع:</h5>
              <blockquote class="quote">
                <template v-for="reference in info.references">
                  <template v-if="reference.isLatin">
                    <div class="myleft myltr mypadleft">
                      <a :href="reference.link">{{ reference.title }}</a>{{
                      reference.note }}
                    </div>
                  </template>
                  <template v-else>
                    <a :href="reference.link">{{ reference.title }}</a>{{
                    reference.note }}
                  </template>
                  <br />
                </template>
              </blockquote>
              <div class="row-fluid marginbottom margintop">
                <h5>نمره‌دهی:</h5>
                <blockquote class="quote">
                  <table>
                    <tr v-for="item in marks">
                      <td>{{ item.name }}: &nbsp; </td>
                      <td>
                        {{ item.mark }} نمره
                        <template v-if="item.note">
                          ({{ item.note }})
                        </template>
                      </td>
                    </tr>
                  </table>
                </blockquote>
              </div>
              <div class="row-fluid marginbottom margintop">
                <h5><a :href="info.rulePage">قوانین کلاس</a></h5>
              </div>
            </div>
            <div class="span5" style="padding-right: 2em">
              <p>
                <img class="refimg" :src="info.bookCover.image"
                  :alt="info.bookCover.alt" />
              </p>
            </div>
          </div>
          <hr>

          <div class="row-fluid">
            <div class="span7">
              <h4 class="mycenter mypadbot">تقویم درس</h4>
              <table class="table table-bordered mytable myfullwidth">
                <thead>
                  <tr class="aval">
                    <th style="text-align: center; width: 17%;">جلسه</th>
                    <th style="text-align: center; width: 30%;">عناوین</th>
                    <th style="text-align: center; width: 13%;">رئوس مطالب</th>
                    <th style="text-align: center; width: 30%;">مطالعۀ بیشتر</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="session in sessions">
                    <template v-if="session.isHoliday === true">
                      <td class="tatil" colspan=4>
                        <b>{{ session.subject }}</b>
                      </td>
                    </template>
                    <template v-else-if="session.isExam === true">
                      <td class="exam" colspan=4>
                        <b>{{ session.subject }}</b>
                        {{ session.further }}
                      </td>
                    </template>
                    <template v-else-if="session.isQuiz === true">
                      <td class="quiz" colspan=4>
                        <b>{{ session.subject }}</b>
                      </td>
                    </template>
                    <template v-else>
                      <td>
                        {{ session.num }}
                        <br />
                        ({{ session.date }})
                      </td>
                      <td>{{ session.subject }}</td>
                      <td>
                        <template v-for="note in session.notes">
                          <a :href="note.link">
                            {{ note.name }}
                          </a>
                          <br />
                        </template>
                      </td>
                      <td>{{ session.further }}</td>
                    </template>
                  </tr>
                </tbody>
              </table>

            </div>
            <div class="span5">
              <div class="mybold">تمرین‌ها:
                [<a :href="info.gradingPage">نکاتی دربارۀ تمرین‌ها</a>]
              </div>
              تحویل تمرین‌ها توسط سایت <a :href="info.queraLink">کوئرا</a> انجام
              می‌شود.
              <ul>
                <li v-for="assignment in assignments">تمرین {{ assignment.num }}
                  [{{ assignment.subject }}]
                  - انتشار {{ assignment.publishDate }}
                  - تحویل {{ assignment.dueDate }}</li>
              </ul>
              <div class="mybold">چالش:</div>
              <ul>
                <li v-for="phase in challenge">
                  <template v-if="phase.link">
                    <a :hred="phase.link">
                      {{ phase.title }} {{ phase.publishDate }} - تحویل {{
                      phase.dueDate }}
                    </a>
                  </template>
                  <template v-else>
                    {{ phase.title }} {{ phase.publishDate }} - تحویل {{
                    phase.dueDate }}
                  </template>
                </li>
              </ul>
              <p>
                <div class="mybold">جدول نمرات</div>
                <ul>
                  <li>
                    <a :href="info.marksSpreadsheet">مشاهدۀ نمرات</a>
                  </li>
                </ul>
              </p>
              <br />
              <div>
                <table class="table table-condensed">
                  <tr>
                    <td>
                      <h5>دستیاران تدریس</h5>
                    </td>
                    <td>
                      <h5>ایمیل</h5>
                    </td>
                  </tr>
                  <tr v-for="ta in tas">
                    <td>
                      {{ ta.name }}
                      <template v-if="ta.responsibility">
                        ({{ ta.responsibility }})
                      </template>
                    </td>
                    <td>{{ ta.email }}</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div style="text-align: center;">
        کلیه حقوق این سایت متعلق به دانشگاه صنعتی شریف است.
        <a href="https://creativecommons.org/licenses/by/3.0/deed.fa"
          rel="license"><img width="15" src="img/cc.png"
            alt="CC Attribution 3.0 Unported" /></a>
      </div>
    </div>

      <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async
        src="https://www.googletagmanager.com/gtag/js?id=UA-134050452-1">
    </script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());

      gtag('config', 'UA-134050452-1');
    </script>
  </body>

  <script>
    const MyHomePage = {
      data() {
        return {
          info,
          sessions,
          marks,
          assignments,
          challenge,
          tas
        };
      },
      created() {
        document.title = info.pageTitle;
      }
    };

    Vue.createApp(MyHomePage).mount('#page');
  </script>

</html>